.invoice {
  background: #F9FAFB;
  border-bottom: 1px solid #E6E8EC;

  .nav-links {
    padding: 0;


    .active {
      border-bottom: solid 2px #0080fc;

      .navbar-link {
        color: #0080fc !important;
      }
    }

    .navbar-link {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #767676;
      padding: 20px;
      cursor: pointer;
    }
  }

  .navbar {
    border-bottom: 1px solid #eaecf0;
    padding: 0px 20px 0px 20px;
    background: #F9FAFB;
    border-radius: 8px 8px 0px 0px;
    @media (max-width: 768px) {
      padding: 0;
    }
  }

  .content {
    padding: 0px 20px 0px 20px;
    width: 100%;

    @media (max-width: 768px) {
      padding: 0;
    }

  }
}
