$primary-color: #0080fc;
$gray-color: #101828;
$gray-stroke-color1: #d6dde9;
$gray-stroke-color2: #e6e8ec;
$gray-stroke-color3: #e2e0eb;
$gray-07: #667085;
$white-base-color: #ffffff;
$gray-base-color: #f6f6f6;
$black-base-color: #210d4a;
$custom-padding: 10px 12px 10px 12px;
$custom-padding-btn: 10px 16px 10px 16px;
