@import "variables";
@import "mixins";


@font-face {
  font-family: "Graphik";
  src: url("./fonts/Graphik-Font-Family/GraphikThin.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("./fonts/Graphik-Font-Family/GraphikExtralight.otf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("./fonts/Graphik-Font-Family/GraphikLight.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("./fonts/Graphik-Font-Family/GraphikRegular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("./fonts/Graphik-Font-Family/GraphikMedium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("./fonts/Graphik-Font-Family/GraphikSemibold.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("./fonts/Graphik-Font-Family/GraphikBold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Graphik";
}

.bg-gray {
  background: #e6e8ec;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 1px solid #D0D5DD;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
input[type="checkbox"]:checked:after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0080fc;
  font-size: 15px;
}
input[type="checkbox"]:checked {
  border: 1px solid #0080fc;
}
.table-stripe-rounded {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;

  th,
  td {
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th:first-child,
  td:first-child {
    border-top-left-radius: 8px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
  }

  th:not(:first-of-type),
  td:not(:first-of-type) {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 12px 24px;
    width: 100%;
    gap: 10px;
    .dropdown {
      position: relative;
    }
  }

  th:last-child,
  td:last-child {
    border-top-right-radius: 8px;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
  }

  th {
    background-color: #f3f3f3;
    color: #667085;
    font-size: 14px;
  }

  tr:hover {
    background-color: #f5f5f5;
  }

  .checkbox {
    margin: 0;
  }

  .dropdown {
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  tr {
    display: flex;
  }
}

.g-6 {
  gap: 6px;
}

.g-16 {
  gap: 16px;
}

.text-16 {
  font-size: 16px;
}

.text-14 {
  font-size: 14px;
}

.text-gray {
  color: #667085;
}

.bg-header {
  background: #f3f3f3 !important;
}

.shadowed {
  box-shadow: 2px 0px 4px 0px #0000001a;
  border: 1px solid #e6e8ec;
  border-radius: 8px;
  background: white;
}

.text-details {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.3px;
  text-align: center;
  color: #98a2b3;
}
.text-details-value {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
.border-bottom-gray {
  border-bottom: 1px solid #eaecf0;
}

.container-image {
  background: #0080fc1a;
  border-radius: 8px;
}

.z-10 {
  z-index: 10;
}

.search-bar {
  gap: 16px;

  .search-bar-input {
    position: relative;
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-53%);
      left: 10px;
    }
  }
  input {
    color: #667085;
    font-weight: 400;
    font-size: 14px;
    width: 332px;
    height: 36px;
    padding: 8px;
    border-radius: 8px;
    border: 1px;
    padding-left: 50px;
    outline: none;
  }
  .gap-6 {
    gap: 6px;
  }
}
.text-14 {
  font-size: 14px;
  color: #667085;
}
.text-color {
  color: #210d4a;
  font-size: 14px;
}
.rounded {
  border-radius: 8px;
}
@media (max-width: 768px) {
  .bg-gray-md,
  .navbar {
    background: white !important;
  }

  .shadowed-md {
    box-shadow: none;
    border: none !important;
  }

  .p-md-0 {
    padding: 0px !important;
  }
  .w-md-100 {
    width: 100% !important;
  }
  .g-0 {
    gap: 0px !important;
  }
  .p-md {
    padding: 20px 0px !important;
  }

  .text-12 {
    font-size: 12px;
  }
  .fs-lg-28 {
    font-size: 28px;
  }
}
